* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{

    height: 100vh;
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
    padding: 100px 200px;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
}

.image_1_container{
    width: 100%;
}

.image_1{
    max-width: 100% ;
    max-height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 200px ;
}

a{
    margin-left: 40px;
    text-decoration: none;
    color: black;
    
}

a:hover{
    color:  rgb(106, 111, 245);;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.text_child{
    margin: 25px;
}

fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 0px 4px 50px rgba(3.59, 8.13, 19.13, 0.10);
    border-radius: 6px;
    padding: 30px;
}

form{
    border: none;
    box-shadow: 0px 4px 50px rgba(3.59, 8.13, 19.13, 0.10);
    border-radius: 6px;
    padding: 80px;
   
}

.input_house{
    display: flex;
    margin-bottom: 25px;
}

.input_unit{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px;
}

input {
    border-color: #E5E5E5;
    border-style: solid;
    border-radius: 2px;
    padding: 10px;
}

select{
    border-color: #E5E5E5;
    border-style: solid;
    border-radius: 2px;
    padding: 10px; 
    color: #737373;
    font-size: 12px;
    
}

button{
    width: 100%;
    color: rgb(255, 255,255);
    background: rgb(106, 111, 245);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    border: none;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 25px 0px
    

}

.body{

display: flex;
justify-content: space-between;
height: 100%;
}

.form_head{

    margin-bottom: 25px;
}

.page_text{
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
justify-content: center;
margin: 0 auto;
}

::placeholder{
    color: #737373;
    font-size: 12px;
}

.alt{
    
    object-fit: cover;
    width: 60px;
    margin-left: 25px;
    margin-top: 25px;
}

.big_text {

    font-size: 50px;
}